@font-face {
    font-family: "IRANSansWeb";
    src: url("//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.eot");
    src: url("//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.woff") format("woff"), url("//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.svg#IRANSansWeb") format("svg");
}

.card, .btn, .form-control {
    border-radius: 0;
}

body {
    font-family: IRANSansWeb, sans-serif, Arial;
    font-weight: 300;
}

#card-box {
    /* box-shadow: 0 .5rem 10rem rgba(0,0,0,.15)!important; */
    width: 19rem;
    height: 28rem;
    margin-right: 20px;
    margin-bottom: 15px;
    transition: 1s;
}

#card-box:hover {
    /* border: 2px solid #3e3f41; */
    box-shadow: 0 .5rem 10rem rgba(0, 0, 0, .15)!important;
}

.card-button {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, .15)!important;
}

.card-button:hover {
    box-shadow: 5 0 10rem rgba(49, 46, 46, 0.15)!important;
}

#card-buttons {
    padding-top: 5px;
    margin-top: 10px;
    text-overflow: unset;
    font-family: 'Vazir';
    font-weight: lighter;
}

/* #slider-shadow{ */
#carouselExampleDark {
    box-shadow: 0rem 0.5rem 0.5rem 0rem rgba(0, 0, 0, .15)!important;
    border: radius 5px;
}